<!--Build an express server and serve an html file that displays the current year. Using the Web Console, console.log() the current day of the week as an intege
of 0-6 where 0=Sunday, 1=Monday, 2=Tuesday, ... 6=Saturday.-->




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dates</title>
   
</head>
<body>
  <div id='today'>
    
  </div>

  
</body>
<script src="dataFunction.js"></script>
</html>